<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="KPSPublicSoap">
          <security mode="Transport" />
        </binding>
        <binding name="KPSPublicSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tckimlik.nvi.gov.tr/Service/KPSPublic.asmx"
        binding="basicHttpBinding" bindingConfiguration="KPSPublicSoap"
        contract="KPSPublic.KPSPublicSoap" name="KPSPublicSoap" />
    </client>
  </system.serviceModel>
</configuration>